/* 主页样式 */

/* 顶部导航 */
.top-bar-wrapper{
    /* 设置宽度 */
    width: 100%;
    /* 设置高度，行高 */
    line-height: 40px;
    height: 40px;
    /* 设置背景色 */
    background-color: #333;
}
/* 设置超链接文字颜色 */
.top-bar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
/* 设置超链接hover效果 */
.top-bar a:hover{
    color: #fff;
}
/* 设置分割线 */
.top-bar .line{
    color:#424242;
    margin: 0 8px;
    margin-top: -1px;
}
/* 左侧导航 */
.service,.top-bar-wrapper li{
    float: left;
}
.app{
    position: relative;
}
/* 设置app下的三角 */
.app::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;    
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
/* 设置app二维码 */
.app .qrcode{
    width: 124px;
    background-color: #fff;
    text-align: center;
    line-height: 1;
    box-shadow:0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    left: -40px;
    /* display: none; */
    overflow: hidden;
    height: 0;
    /* transition 设置过渡效果 */
    transition: height .3s;
    z-index: 9999;

}
.app .qrcode img{
    width: 90px;
    margin:17px;
    margin-bottom: 10px;
}
.app .qrcode span{
    color: #000;
    font-size: 14px;
}
/* 设置右侧导航 */
.shop-cart,.user-info{
    float: right;
}
/* 设置购物车 */
.shop-cart{
    margin-left: 26px;
}
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
    position: relative;
}
.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}
.shop-cart i{
    margin-right: 2px;
}
.shop-info{
    width: 316px;
    background-color: #fff;
    box-shadow: 0px 5px 10px  rgba(0 , 0, 0, .2);
    text-align: center;
    line-height: 80px;
    color: rgb(66,66,66);
    overflow: hidden;
    height: 0;
    transition: height .3s;
    position: absolute;
    left: -196px;
    z-index: 999;
}
.shop-cart:hover .shop-info{
    height:80px ;
}

/* 顶部内容区 */
.header{
    height: 100px;
}
.header-wrapper{
    position: relative;
}
/* 设置logo样式 */
.logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    border-radius:15%;
    overflow: hidden;
    text-indent: -999px;
}

/* 设置logo的超链接 */
.logo a{
    /* display: block; */
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-image: url(../img/logo-mi2.png);
    background-position: center;
    background-size: 56px;
    /* transition: left .1s; */
}
.logo .home{
    left: -55px;
    background-image: url(../img/logo-mi3.png);
}
.logo:hover .mi{
    left: 55px;
}
.logo:hover .home{
    left: 0;
}

/* 设置导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;

}
.header .nav{
    /* height: 100px; */
    line-height: 100px;
    padding-left: 58px;

}
.nav-wrapper li{
    float: left;
}
.nav-wrapper li a{
    font-size: 16px;
    margin-right: 20px;
    display: block;
}
.nav-wrapper li a:hover{
    color: #ff6700;
}
/* 隐藏第一个 */
.all-goods{
    /* 隐藏后依然占据位置 */
    visibility: hidden;
}

/* 下拉框 */
.nav .goods-info{
    /* height: 228px; */
    height: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

    position: absolute;
    top: 100px;
    left: 0;
    transition:height 0.3s ;
    z-index: 999;
}
.nav li:hover:not(:first-of-type):not(:last-of-type):not(:nth-child(9)) ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top:1px solid rgb(224, 224, 224);
}



/* 搜索框 */
.search-wrapper{
    width: 296px;
    height:  50px;
    float: right;
    margin-top: 25px;
}
.search-wrapper .search-inp{
    border: none;
    float: left;
    padding: 0;
    width: 244px;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;

}
/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus+.search-btn{
    border-color: #ff6700;
}
.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color: #616161;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}


.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: white;
    cursor: pointer;
}

