@font-face {
  font-family: "iconfont"; /* Project id 2847952 */
  src: url('iconfont.woff2?t=1633244290268') format('woff2'),
       url('iconfont.woff?t=1633244290268') format('woff'),
       url('iconfont.ttf?t=1633244290268') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bukejian:before {
  content: "\e60c";
}

.icon-bodongtu:before {
  content: "\e60d";
}

.icon-duihua:before {
  content: "\e60e";
}

.icon-dingdan:before {
  content: "\e60f";
}

